
h1{
	font-weight: bolder;
	color:#FFFFFF;
	font-size: 36px;
	padding-bottom: 5px;
}
h2{
	font-size: 24px;
	padding-bottom: 10px;
}

h4{
	font-size: 18px;
}
.container{
	background-color:  rgba(150, 150, 150, 0.7);
	margin-top: 20px;
	border-radius: 10px;
}
.col-sm-5.col-md-5{
	background-color:  rgba(102, 173, 255, 0.7);
	margin: 30px;
	padding-bottom: 20px;
	border-radius: 10px;
	padding-top: 5px;

}
.col-md-3.visible-lg-block{
	background-color: rgba(102, 255, 143, 0.7);
	border-radius: 10px;
	padding: 10px;
}

.scoreBox{
	border-radius: 10px;
	padding:10px;
	margin-top: 10px;
	background-color: rgba(102, 255, 143, 0.7);
}

.col-md-6{
	background-color:  rgba(102, 173, 255, 0.1);

}
.coins{
	padding: 7px;
}

#compScore{
	font-weight: bolder;
	font-size: 24px;
	padding: 5px;	
	padding-bottom: 20px;
}
#playerScore{
	font-weight: bolder;
	font-size: 24px;
	padding: 5px;
}
#wins{
	color:#00cc00;	
	font-size: 32px;
	font-weight: bold;
	padding-left: 65px;
}
#losses{
	color: #e60000;
	font-size: 32px;
	font-weight: bold;
	padding-left: 65px;

}
#scoreBox3{
	background-color: rgba(255, 255, 102, 0.7);
	border-radius: 10px;
	padding:10px;
	margin-top: 10px;
}

#billSelect{
	margin-left: 25px;
	padding-bottom: 5px;
}

/*modal*/
#winLoseModal{
	background-color: rgba(112, 255, 102, 0.7);

}

.modal-content{
	height: 400px;
	padding:25px;
	background-color:  rgba(102, 173, 255, 0.7);
	align-content: center;

}
#winLose{
	text-align: center;
	padding-bottom: 15px;
}

#playBut{
	margin-top: 50px;
	margin-left: 20px;
	width: 200px;
	height: 50px;
	font-size: 24px;
}
.modHead{
	font-size: 24px;
	color: #FFFFFF;
}
#winTot{
	color: green;
	padding-bottom: 30px;
	padding-top: 15px;
	text-align: center;
	font-size: 32px;
}
#loseTot{
	padding: 15px;
	color: red;
	text-align: center;
	font-size: 32px;
}
body{
	font-family: 'Dosis', sans-serif;	  
	overflow:hidden;

}
@media (max-width: 767px){
	.col-sm-5.col-md-5{
		height:35%;
		margin-bottom: 0px
	}
	.col-xs-5.col-md-5{
		height:35%;
		margin-bottom: 0px
	}
	.scorebox3{
		float:right;
	}
}
@media (max-width: 547px){	
	.coins{
		width:15.5%;
		height:25%;
	}
	.dollars img{
		width: 40%;
		height: 40%;
	}

}

@media (min-width:767px) and (max-width: 990px){
	.col-md-2{
		width: 45%;
		float:right;
	}
	.col-sm-5.col-md-5{
		height:460px;
		width: 320px;
		margin-bottom: 0px
		float:right;
	}
	.col-xs-5.col-md-5{
		height:430px;
		margin-bottom: 0px
	}

}